alive_progress==3.1.5
beautifulsoup4==4.10.0
numpy==1.26.0
pandas==2.2.2
Pillow==10.3.0
podcastparser==0.6.10
requests==2.32.3
selenium==4.24.0
sentence_splitter==1.4
Werkzeug==3.0.4
wikitextparser==0.56.2
xmltodict==0.13.0
lxml==4.9.3